body {
  font-family: 'Encode Sans Condensed', 'Gill Sans MT', 'Arial', sans-serif;
  background: #5A5C51;
  color: #fff;
  margin: 2rem;
  /* max-width: 100%; */
}

header {
    font-family: 'Rokkitt', 'Palatino Linotype', 'Georgia', serif;
    text-align: center;
}

h1{
  margin-bottom: .5rem;
  font-size: 3rem;
}

h2{
  font-size: 1rem;
  font-weight: lighter;
  margin-top: .25rem;
}

/*flex container*/
article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text, .charts {
  max-width: 900px;
}

#bar {
  height: 600px;
}

#line {
  height: 500px;
}

.caption {
  margin-top: .25rem;
  font-size: .85rem;
}

a {
  color: #FDFD96;
}

a:hover {
  color: #FFD300;
}

@media screen and (max-width: 1000px) {
  .text, .charts {
    max-width: 80%;
  }
}

@media screen and (max-width: 750px) {
  body {
    margin: .5rem;
  }
  h1 {
    font-size: 2rem;
  }
  .text, .charts {
    max-width: 100%
  }
  #bar {
    height: 500px;
  }
  #line {
    height: 450px;
  }
  .caption {
    font-size: .75rem;
  }
}
